.alert.svelte-8zz7h7{display:flex;align-items:center;padding:1rem;margin:1rem;border-radius:.5rem;box-shadow:0 2px 4px #0000001a}div[role=alert].svelte-8zz7h7{z-index:50;top:1rem;left:50%;transform:translate(-50%)}
